.container {
    background-color: rgb(32, 32, 34);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 90%;
    max-width: 400px;
    background-color: rgb(63, 77, 99);
    border: 5px solid rgb(63, 77, 99);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    color: rgb(255, 255, 255);
    background-color: rgba(32, 32, 34, 0.795);
    height: 80px;
    width: 100%;
    text-align: right;
    font-size: 70px;
}

.small-display {
    color: rgb(117, 119, 126);
    background-color: rgba(32, 32, 34, 0.795);
    height: 30px;
    width: 100%;
    text-align: right;
    font-size: 30px;
}

.buttons {
    padding-top: 5px;
}

button {
    color:rgb(255, 255, 255);
    background-color: rgb(90, 113, 139);
    height: 100px;
    width: 100%;
    border: 5px solid rgb(63, 77, 99);
    cursor: pointer;
    font-size: 30px;
}

button:hover{
    background-color: rgba(32, 32, 34, 0.795);
}

.first-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.second-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.third-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fourth-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.last-row {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}